@model DietManagerIdentity.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="add-patient-card card-container">
        <p id="profile-name" class="profile-name-card" style="margin-bottom: 40px; letter-spacing: 2px;">
            Add a new dietician
        </p>
        @using (Html.BeginForm("Add", "Patient", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Fullname, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6 ">
                    @Html.TextBoxFor(model => model.Fullname, new
                    {
                        id = "inputLogin",
                        @class = "form-control",
                        placeholder = "Fullname",
                        required = "required",
                        autofocus = "autofocus"
                    })
                    @Html.ValidationMessageFor(x => x.Fullname, "", new { @class = "field-validation-error" })
                </div>


            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Username, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Username, new
                    {
                        id = "inputPassword",
                        @class = "form-control",
                        placeholder = "Username",
                        required = "required",
                        type = "text",
                        Value = ""
                    })
                    @Html.ValidationMessageFor(x => x.Username, "", new { @class = "field-validation-error" })
                </div>


            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Email, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Email, new
                    {
                        id = "inputPassword",
                        @class = "form-control",
                        placeholder = "Email",
                        required = "required",
                        type = "text",
                        Value = ""
                    })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "field-validation-error" })

                </div>
            </div>

            <div class="row btns-nav">
                <button class="btn btn-lg btn-info btn-block btn-signin" type="submit">Add</button>
                @Html.ActionLink("Back", "Dieticians", "Dietician", null, new { @class = "btn btn-lg btn-info btn-block btn-back" })
            </div>

        }

    </div><!-- /card-container -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
