@model DietManagerIdentity.Models.Diet
@{

    ViewBag.Title = "AddMeals";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 manage-patient-diet-bar">
            <div class="col-md-6">
                <h2>Add a meal to @Model.Name's diet</h2>
            </div>
            <div class="col-md-6">

                @(Html.Kendo().DropDownList()
                                        .Name("mealId")
                                        
                                        .DataTextField("MealName")
                                        .DataValueField("MealId")
                                        .Events(x => x.Select("onMealSelect"))
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("Get_Meals", "Diet");
                                            });
                                        })
                                        .HtmlAttributes(new { id = "mealsDropDown", style = "width:100%;margin-top:20px;float:right" })
                )

                @Html.HiddenFor(model => model.DateOfAddition)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Meals)
                @Html.HiddenFor(model => model.Patients)
                @Html.HiddenFor(model => model.Name)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 manage-patient-diet-bar diet-add-meal-cell" id="Meal-details">
            <div id="partial">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 manage-patient-diet-bar manage-patient-bottom-cell">
            @Html.ActionLink("Back", "ManageDiet", "Diet", new { dietId = Model.Id }, new { @class = "btn btn-info btn-back manage-patient-back" })
            <button class="btn btn-info btn-signin manage-patient-submit" type="submit">Add</button>
        </div>
    </div>

    <script>
        function onMealSelect(e) {
            var dataItem = this.dataItem(e.item.index());
            var mealId = dataItem.MealId; // value of the dropdown
            //var mealName = dataItem.MealName; // text of the dropdown
            $('#partial').load('@Url.Action("GetMealDetails", "Diet")?id=' + mealId);
        }

    </script>
}

