@model DietManagerIdentity.Models.Patient
@{
    ViewBag.Title = "Add";
}

<div class="container">
    <div class="add-patient-card card-container">
        <p id="profile-name" class="profile-name-card" style="margin-bottom: 40px; letter-spacing: 2px;">
            Add a new patient
        </p>
        @using (Html.BeginForm("Add", "Patient", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.FullName, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6 ">
                    @Html.TextBoxFor(model => model.FullName, new
                    {
                        id = "inputLogin",
                        @class = "form-control",
                        placeholder = "Full name",
                        required = "required",
                        autofocus = "autofocus"
                    })
                    @Html.ValidationMessageFor(x => x.FullName, "", new { @class = "field-validation-error" })
                </div>


            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.PatientAge, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PatientAge, new
                    {
                        id = "inputPassword",
                        @class = "form-control",
                        placeholder = "Age",
                        required = "required",
                        type = "number",
                        min = "2",
                        max = "150",
                        Value = ""
                    })
                    @Html.ValidationMessageFor(x => x.PatientAge, "", new { @class = "field-validation-error" })
                </div>


            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Height, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Height, new
                    {
                        id = "inputPassword",
                        @class = "form-control",
                        placeholder = "Height",
                        required = "required",
                        type = "number",
                        min = "2",
                        max = "300",
                        Value = ""
                    })
                    @Html.ValidationMessageFor(x => x.Height, "", new { @class = "field-validation-error" })

                </div>


            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Weight, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Weight, new
                    {
                        id = "inputPassword",
                        @class = "form-control",
                        placeholder = "Weight",
                        required = "required",
                        type = "number",
                        min = "2",
                        max = "400",
                        Value = ""
                    })
                    @Html.ValidationMessageFor(x => x.Weight, "", new { @class = "field-validation-error" })
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="col-md-6 add-patient-label-center">
                        @Html.LabelFor(model => model.Dislikes, new { @class = "add-patient-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Dislikes, 4, 50, new
                        {
                            id = "custom-input",
                            @class = "form-control",
                            placeholder = "Dislikes",
                            type = "text",
                            Value = ""
                        })
                    </div>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="col-md-6 add-patient-label-center">
                        @Html.LabelFor(model => model.Allergy, new { @class = "add-patient-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Allergy, 4, 50, new
                        {
                            id = "custom-input",
                            @class = "form-control",
                            placeholder = "Allergy",
                            type = "text",
                            Value = ""
                        })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 add-patient-label-center">
                    @Html.LabelFor(model => model.Contraindications, new { @class = "add-patient-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Contraindications, 4, 50, new
                    {
                        id = "custom-input",
                        @class = "form-control",
                        placeholder = "Contraindications",
                        type = "text",
                        Value = ""
                    })
                </div>
            </div>

            <div class="row btns-nav">
                <button class="btn btn-lg btn-info btn-block btn-signin" type="submit">Add</button>
                @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-lg btn-info btn-block btn-back" })
            </div>

        }

    </div><!-- /card-container -->
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}